* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #134B70;
    color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0  1rem;
    text-decoration: none;
}

.nav .nav-item {
    font-size: 100%;
    color: inherit;
    text-decoration: none;
}

.nav .site-logo {
    align-items: left;
    font-size: 175%;
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    margin: .5%;
    padding: .25rem;
}

.nav .site-logo-img {
    max-width: 7%;
    padding-top: .25rem;
    padding-right: .5rem;
}

.nav Link:hover,
.nav Typography:hover
.nav .nav-item:hover {
    background-color: #1f5070;
}